*{

    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.game_info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.container{
    height: 400px;
    width: 400px;
    border: 1px solid #999;
    cursor: crosshair;
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.1);
    border-radius: 6px;
    overflow: hidden;
}

#target {
    height: 60px;
    width: 60px;
    position: absolute;
    transition: 300ms;
    animation: animateTarget 10s infinite;
}

button{
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: rgb(0, 68, 255);
    border: 0;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 300ms;
}

button:hover{
    background-color: rgb(0, 55, 206);
}

@keyframes animateTarget {
    to {
        transform: translateY(-200px) rotate(90deg);
    }
}